.rangeInput{
  -webkit-appearance: none;
    border-radius: 5px;
    background: #DFDFDF;
    height: 18px;
    outline: none;
    margin-top: 8px;
}

.botao{
  height: 40px;
  background-color: #3EB72B;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.containerPassword{
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.containerPassword:hover{
  transform: scale(1.05);
}

.tooltip {
  color: #fff;
  position: relative;
  top: 20px;
  padding: 6px 8px;
  background: rgb(15,15,15);
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.ctpass:hover .tooltip {
  visibility: visible;
  bottom: 50px;
  opacity: 1;
}
